<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="home">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Naya Yerolemou</h2>
								<div class="container">
									<div class="row" style="display:inline-block;">
										<a href="https://www.linkedin.com/in/naya-yerolemou-41539a124/" target="_blank" class="icon" style="margin-right:-1em;"><i class="fab fa-linkedin" style="font-size:24px;color:white"></i></a>
										<a href="https://github.com/nyerolemou" target="_blank" class="icon" style="margin-left:-1em;"><i class="fab fa-github" style="font-size:24px;color:white"></i></a>
									</div>
								</div>
							</div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
